request
.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
**/*.elc
elpa
org-roam.db
*.sqlite
emojis/
eln-cache
.cache
transient
url
.mc-lists.el
.org-id-locations
image-dired/